.practiceInfo {
    width: 800px;
    margin: auto;
    text-align: center;
}

.card {
    border: black 1px solid;
    /*width: 900px;*/
    height: 60px;
    margin-bottom: 20px;
    margin-inline: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}