.appointmentInfo {
    width: 800px;
    margin: auto;
    text-align: center;
}

.card {
    border: black 1px solid;
    /*width: 900px;*/
    height: 100px;
    margin-bottom: 20px;
    margin-inline: auto;
    width: 400px;
}

/*.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}*/

.appointmentLink {
    color: blue;
    text-decoration: underline;
}