.practitionerInfo {
    width: 800px;
    margin: auto;
    text-align: center;
}

.appointmentTable {
    width: 800px;
    margin: auto;
    text-align: center;
    table-layout: fixed;
}

th.appointmentTable {
    padding: 20px;
    border: 1px solid black;
    width: 80px;
}

td.appointmentTable {
    border: 1px solid black;
    height: 30px;
    width: 80px;
}

.appointmentTableClickable {
    border: 1px solid black;
    height: 30px;
}

.appointmentTableClickable:hover {
    box-shadow: 0 8px 16px 0 rgba(83, 75, 75, 0.2);
    background-color: gray;
    border: 1px solid black;
    height: 30px;
    cursor: pointer;
}

.leftButton {
    margin-right: 20px;
    background-color: white;
    border: white;
    height: 40px;
}

.rightButton {
    margin-left: 20px;
    background-color: white;
    border: white;
    height: 40px;
}

.leftButton:hover {
    box-shadow: 0 8px 16px 0 rgba(83, 75, 75, 0.2);
    background-color: gray;
}

.rightButton:hover {
    box-shadow: 0 8px 16px 0 rgba(83, 75, 75, 0.2);
    background-color: gray;
}