li {
  list-style-type: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.navLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navLinks li {
  display: inline-block;
}

.login-link {
  float: right;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 10px;
}

.welcome-message {
  margin-right: 20px;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin-right: 60px; /* Important for vertical align on mobile phones */
  margin-top: 0px;
}

.dropdown:hover .dropbtn {
  cursor: pointer;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/*.dropdown:target .dropdown-content {
  display: block;
}*/

#btnControl {

}

#btnControl:checked .dropdown-content {
    display: block;
}

.btn {

}

#company-name {
  font-size: 30px;
  margin-left: 20px;
}

#company-image {
  margin-left: 20px;
  /*margin-top: 10px;*/
}

.footer {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border-top: #0a0a0a 2px solid;
}

button {
  width: 75px;
  height: 30px;
}